.header{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
    background-color: green;
    height: 20vh;

}

.imagemHeader{
    width: 14vw;
    height: 14vh;
    
}

.header h1 {
    font-size: 2vw;
    color: white;
}



.textos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}

.texto1{
    padding: 2em;
    width: 30%;
    border: 2px solid black;
}
.texto2{
    padding: 2em;
    width: 30%;
    border: 2px solid black;
}


.footer{
    
}